{% extends "admin/admin_dashboard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/student_add.css' %}">
<div class="content8">
  <div class="container">
    <header>Registration</header>
    <h3>{{data.msg}}</h3>
    <form action="{% url 'student_add' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form first">
        <div class="details personal">
          <span class="title">Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Student ID <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Student ID" name="stuID" required />
            </div>
            <div class="input-field">
              <label>Full Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Student name" name="fullname" required />
            </div>
            <div class="input-field">
              <label>Father Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Father name" name="fathername" required />
            </div>
            <div class="input-field">
              <label>Date of Birth <span style="color: red; font-size: 15px;">*</span></label>
              <input type="date" placeholder="Enter birth date" name="dob" required />
            </div>
            <div class="input-field">
              <label>Date of Joining <span style="color: red; font-size: 15px;">*</span></label>
              <input type="date" placeholder="Enter Date Of Joining" name="dobjob" required />
            </div>
            <div class="input-field">
              <label>Address <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Address" name="add" required />
            </div>
            <div class="input-field">
              <label>Email <span style="color: red; font-size: 15px;">*</span></label>
              <input type="email" placeholder="Enter Student email" name="email" required />
            </div>
            <div class="input-field">
              <label>Mobile Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter mobile number" name="mobile" />
            </div>
            <div class="input-field">
              <label>Emergency Mobile Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter Emergency Mobile number" name="emmobile" />
            </div>
            <div class="input-field">
              <label>Adhar Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter Adhar number" name="adhar" />
            </div>
            <div class="input-field input-box">
              <label>Gender <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="gender">
                <option disabled selected>Select gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
            <div class="input-field">
              <label>Last Graduation <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Last Graduation" name="graduation" />
            </div>
            <div class="input-field">
              <label>Branch Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter mobile number" name="branch" />
            </div>
            <div class="input-field">
              <label>Collage Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter mobile number" name="collage" />
            </div>
            <div class="input-field">
              <label>Department <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="department">
                <option disabled selected>Select Department</option>
                <option>Full-stack Developer</option>
                <option>Front-End Developer</option>
                <option>Back-End Developer</option>
                <option>AI/ML</option>
                <option>DA/DS</option>
                <option>DevOps</option>
                <option>Data Base</option>
                <option>Cyber Scurity</option>
              </select>
            </div>
            <div class="input-field">
              <label>Course <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="course">
                <option disabled selected>Select Course</option>
                <option>Python</option>
                <option>C++</option>
                <option>React</option>
                <option>HTML</option>
                <option>CSS</option>
                <option>SQL</option>
                <option>Devops</option>
                <option>Java</option>
                <option>Javascript</option>
              </select>
            </div>
            <div class="input-field">
              <label>Course Fees<span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter Fee" name="fees" />
            </div>
          </div>
            <label for="avatar">Choose a profile picture <span style="color: red; font-size: 15px;">*</span> :</label>
            <input type="file" id="avatar" name="image" accept="image/png, image/jpeg, image/*" class="file"/>
        </div>
          <button class="nextBtn">
            <span class="btnText">Save</span>
            <i class="uil uil-navigator"></i>
          </button>
        </div>
        
      </div>
    </form>

  </div>
</div>
{% endblock %}