{% extends "admin/admin_dashboard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/student_add.css' %}">
<div class="content8">
  <div class="container">
    <header>Registration</header>
    <h3>{{msg}}</h3>
    <form action="{% url 'teacher_add' %}" method="post">
      {% csrf_token %}
      <div class="form first">
        <div class="details personal">
          <span class="title">Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Teacher ID <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Teacher ID" name="teachID" required />
            </div>
            <div class="input-field">
              <label>Job Title <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Job Title" name="jtitle" required />
            </div>
            <div class="input-field">
              <label>Full Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Teacher name" name="fullname" required />
            </div>
            <div class="input-field">
              <label>Date of Birth <span style="color: red; font-size: 15px;">*</span></label>
              <input type="date" placeholder="Enter birth date" name="dob" required />
            </div>
            <div class="input-field">
              <label>Date of Joining <span style="color: red; font-size: 15px;">*</span></label>
              <input type="date" placeholder="Enter Fate Of Joining" name="dobjob" required />
            </div>
            <div class="input-field">
              <label>Department <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="department">
                <option disabled selected>Select Course</option>
                <option>Front-End</option>
                <option>Back-End</option>
                <option>Full-Stack</option>
                <option>Data Server</option>
                <option>Cyber Squrity</option>
              </select>
            </div>
            <div class="input-field input-box">
              <label>Course <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="course">
                <option disabled selected>Select Course</option>
                <option>Python</option>
                <option>C++</option>
                <option>Django</option>
                <option>HTML/CSS</option>
                <option>JavaScript</option>
                <option>ReactJs</option>
                <option>MySql</option>
                <option>AWS</option>
              </select>
            </div>
            <div class="input-field">
              <label>Father Name <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Father name" name="faname" required />
            </div>
            <div class="input-field">
              <label>Email <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Teacher email" name="email" required />
            </div>
            <div class="input-field">
              <label>Mobile Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter mobile number" name="mobile" />
            </div>
            <div class="input-field">
              <label>Emergency Mobile Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter Emergency Mobile number" name="emmobile" />
            </div>
            <div class="input-field">
              <label>Graduation <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Graduation" name="graduation" />
            </div>
            <div class="input-field">
              <label>Post Graduation <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Enter Post Graduation" name="postgraduation" />
            </div>
            <div class="input-field">
              <label>Adhar Number <span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter mobile number" name="adhar" />
            </div>
            <div class="input-field">
              <label>Address <span style="color: red; font-size: 15px;">*</span></label>
              <input type="text" placeholder="Address" name="add" />
            </div>
            <div class="input-field input-box">
              <label>Gender <span style="color: red; font-size: 15px;">*</span></label>
              <select required name="gender">
                <option disabled selected>Select gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
            <div class="input-field">
              <label>Salary<span style="color: red; font-size: 15px;">*</span></label>
              <input type="number" placeholder="Enter Salary" name="salary" required />
            </div>
          </div>
            <label for="avatar">Choose a profile picture <span style="color: red; font-size: 15px;">*</span> :</label>
            <input type="file" id="avatar" name="image" accept="image/png, image/jpeg, image/*" class="file" required />
        </div>
          <button class="nextBtn">
            <span class="btnText">Save</span>
            <i class="uil uil-navigator"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

{% endblock %}