{% extends "admin/admin_dashboard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/student_add.css' %}">
<div class="content8">
  <div class="container">
    <header>Registration</header>
    <h3>{{msg}}</h3>
    <form action="{% url 'student_add' %}" method="post">
      {% csrf_token %}
      <div class="form first">
        <div class="details personal">
          <span class="title">Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Student ID</label>
              <input type="text" placeholder="Enter Student ID" name="stuID" required />
            </div>
            <div class="input-field">
              <label>Full Name</label>
              <input type="text" placeholder="Enter Student name" name="fullname" required />
            </div>
            <div class="input-field">
              <label>Date of Birth</label>
              <input type="date" placeholder="Enter birth date" name="dob" required />
            </div>
            <div class="input-field">
              <label>Email</label>
              <input type="text" placeholder="Enter Student email" name="email" required />
            </div>
            <div class="input-field">
              <label>Mobile Number</label>
              <input type="number" placeholder="Enter mobile number" name="mobile" />
            </div>
            <div class="input-field input-box">
              <label>Gender</label>
              <select required name="gender">
                <option disabled selected>Select gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
            <div class="input-field">
              <label>Department</label>
              <select required name="department">
                <option disabled selected>Select Department</option>
                <option>Front-End Developer</option>
                <option>Back-End Developer</option>
                <option>Data Base</option>
                <option>Cyber Scurity</option>
              </select>
            </div>
            <div class="input-field">
              <label>Course</label>
              <select required name="course">
                <option disabled selected>Select Course</option>
                <option>Python</option>
                <option>C++</option>
                <option>React</option>
                <option>JS</option>
              </select>
            </div>
          </div>
        </div>
          <button class="nextBtn">
            <span class="btnText">Next</span>
            <i class="uil uil-navigator"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

{% endblock %}